<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <link rel='icon' href='../assets/favicon.ico' type='image/x-icon'/ >
        <script src="/js/masonry.pkgd.min.js"></script>
        <script src="/js/imagesloaded.pkgd.min.js"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="grid-header">
            <div class="nav">
                <ul class="left">
                    <h2 class="left"><a href="/"> h.jaramillo</a></h2>
                </ul>
                <ul class="right">
                    <li><a href="/">about</a></li>
                    <li><a href="/posts">writing</a></li>
                    <li><a class="active" href="/pictures">fun</a></li>
                </ul>
            </div>
        </div>
        <div class="nav footer">
            <ul class="right">
                <li><a href="https://twitter.com/helenajar"><img src="/assets/twitter.svg"/></a></li>
                <li><a href="https://coda.io/@helena"><img src="/assets/coda.svg"/></a></li>
            </ul>
        </div>
        <div class="grid-content">
            {{ content }}
        </div>
        
        <script>
            var elem = document.querySelector('.grid');
            var msnry = new Masonry( elem, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                gutter: '.gutter-sizer',
                percentPosition: true,
                transitionDuration: 0,
            });
            var imgLoad = imagesLoaded(document.querySelector('.grid'));
            imgLoad.on( 'progress', function( instance, image ) {
                msnry.layout();
            });
        </script>


    </body>
</html>